/* Fix PrimeNG p-checkbox appearance for table selection */

@import "tailwindcss";
@import 'primeicons/primeicons.css';
@import './app/pages/private/shared/styles/table-styles.css';
@import './app/pages/private/shared/styles/toast-styles.css';

body {
  font-family: 'Red Hat Display', sans-serif;
}

:root {
  --color-primary: #064b59;
  --color-secondary: #136F7C;
  --color-accent: #E47547;
  --color-gray: #6C6C6C;
  --color-light: #F5F5F5;
}
