/* Fix PrimeNG p-checkbox appearance for table selection */

@import "tailwindcss";
@import 'primeicons/primeicons.css';

body {
  font-family: 'Red Hat Display', sans-serif;

}

:host ::ng-deep .p-checkbox {
  display: inline-flex !important;
  vertical-align: middle !important;
}
:host ::ng-deep .p-checkbox-box {
  border-radius: 0.375rem !important;
  border-width: 2px !important;
  border-color: #707374 !important;
  width: 20px !important;
  height: 20px !important;
  background: #fff !important;
}
:host ::ng-deep .p-checkbox-icon {
  font-size: 1.25rem !important;
  color: #707374 !important;
}

:root {
  --color-primary: #064b59;
  --color-secondary: #136F7C;
  --color-accent: #E47547;
  --color-gray: #6C6C6C;
  --color-light: #F5F5F5;
}

